In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"20.csv")

In [2]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents label detailed-label
0,0,1.538479e+09,CSQG794riQ4XnzTxP2,192.168.100.103,37082,192.168.100.1,53,udp,dns,5.005151,...,S0,-,-,0,D,2,134,0,0,- Benign -
1,1,1.538479e+09,COTbdG2BhtGBlmf6r,192.168.100.103,34486,192.168.100.1,53,udp,dns,0.007243,...,SF,-,-,0,Dd,2,146,2,146,- Benign -
2,2,1.538479e+09,CP48WJ2HOnLuGtr5kb,192.168.100.103,37601,192.168.100.1,53,udp,dns,0.002250,...,SF,-,-,0,Dd,2,146,2,146,- Benign -
3,3,1.538479e+09,CeTMJi2TydRSaVdsG4,192.168.100.103,46439,192.168.100.1,53,udp,dns,5.005154,...,S0,-,-,0,D,2,134,0,0,- Benign -
4,4,1.538479e+09,CZ6ne24AN9WAg9XA9d,192.168.100.103,55174,192.168.100.1,53,udp,dns,0.002246,...,SF,-,-,0,Dd,2,146,2,146,- Benign -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,3204,1.538565e+09,CgenZ5oaUlAs8oOP8,192.168.100.103,123,217.30.75.147,123,udp,-,0.058227,...,SF,-,-,0,Dd,1,76,1,76,- Benign -
3205,3205,1.538565e+09,CuyoPRuDeCX9EleYd,192.168.100.103,123,217.30.75.147,123,udp,-,0.002738,...,SF,-,-,0,Dd,1,76,1,76,- Benign -
3206,3206,1.538565e+09,CXya0e36iFhSxS3Mf9,192.168.100.103,123,217.30.75.147,123,udp,-,0.033229,...,SF,-,-,0,Dd,1,76,1,76,- Benign -
3207,3207,1.538521e+09,CGLDvm3X8xOnv1Rfwf,192.168.100.103,38098,66.85.157.90,443,tcp,-,44325.615625,...,S1,-,-,4500,ShADCaGcgd,8872,372893,9307,388975,- Malicious C&C-Torii
3208,3208,1.538565e+09,Cr70I22hK5v40Wu9mh,192.168.100.103,123,217.30.75.147,123,udp,-,0.042471,...,SF,-,-,0,Dd,1,76,1,76,- Benign -

In [3]:
df = df.rename(columns={"tunnel_parents   label   detailed-label": "Label"})
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [4]:
df['Label']=df['Label'].replace('   benign   ','benign')
df['Label']=df['Label'].replace('(empty)   Benign   -','benign')
df['Label']=df['Label'].replace('-   Benign   -','benign')
df['Label']=df['Label'].replace('-   benign   -','benign')
df['Label']=df['Label'].replace('(empty)   benign   -','benign')

In [5]:
df["Label"].value_counts()

Label
benign                       3193
-   Malicious   C&C-Torii      16
Name: count, dtype: int64

In [6]:
# Transform Label column
df['Label'] = np.where(df['Label'] == 'benign', 0, 1)

In [7]:
df["Label"].value_counts()

Label
0    3193
1      16
Name: count, dtype: int64

In [8]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,0,1.538479e+09,CSQG794riQ4XnzTxP2,192.168.100.103,37082,192.168.100.1,53,udp,dns,5.005151,...,S0,-,-,0,D,2,134,0,0,0
1,1,1.538479e+09,COTbdG2BhtGBlmf6r,192.168.100.103,34486,192.168.100.1,53,udp,dns,0.007243,...,SF,-,-,0,Dd,2,146,2,146,0
2,2,1.538479e+09,CP48WJ2HOnLuGtr5kb,192.168.100.103,37601,192.168.100.1,53,udp,dns,0.002250,...,SF,-,-,0,Dd,2,146,2,146,0
3,3,1.538479e+09,CeTMJi2TydRSaVdsG4,192.168.100.103,46439,192.168.100.1,53,udp,dns,5.005154,...,S0,-,-,0,D,2,134,0,0,0
4,4,1.538479e+09,CZ6ne24AN9WAg9XA9d,192.168.100.103,55174,192.168.100.1,53,udp,dns,0.002246,...,SF,-,-,0,Dd,2,146,2,146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,3204,1.538565e+09,CgenZ5oaUlAs8oOP8,192.168.100.103,123,217.30.75.147,123,udp,-,0.058227,...,SF,-,-,0,Dd,1,76,1,76,0
3205,3205,1.538565e+09,CuyoPRuDeCX9EleYd,192.168.100.103,123,217.30.75.147,123,udp,-,0.002738,...,SF,-,-,0,Dd,1,76,1,76,0
3206,3206,1.538565e+09,CXya0e36iFhSxS3Mf9,192.168.100.103,123,217.30.75.147,123,udp,-,0.033229,...,SF,-,-,0,Dd,1,76,1,76,0
3207,3207,1.538521e+09,CGLDvm3X8xOnv1Rfwf,192.168.100.103,38098,66.85.157.90,443,tcp,-,44325.615625,...,S1,-,-,4500,ShADCaGcgd,8872,372893,9307,388975,1
3208,3208,1.538565e+09,Cr70I22hK5v40Wu9mh,192.168.100.103,123,217.30.75.147,123,udp,-,0.042471,...,SF,-,-,0,Dd,1,76,1,76,0

In [9]:
#Encodeing Features
import pandas as pd

# Your predefined encoding dictionary
encoding_map = {
    "proto": {
        "icmp": 0,
        "tcp": 1,
        "udp": 2,
        "UNKNOWN": -1
    },
    "service": {
        "-": 0,
        "dhcp": 1,
        "dns": 2,
        "http": 3,
        "ssh": 4,
        "ssl": 5,
        "irc": 6,
        "UNKNOWN": -1
    },
    "conn_state": {
         "S0": 0,
         "S1": 1,
         "S2": 2,
         "S3": 3,
         "SF": 4,
         "REJ": 5,
         "RSTO": 6,
         "RSTR": 7,
         "RSTOS0": 8,
         "RSTRH": 9,
         "SH": 10,
         "SHR": 11,
         "OTH": 12,
         "UNKNOWN": -1
    }
}

def encode_categorical(df, encoding_map):
    """
    Convert categorical columns in DataFrame to numerical values using the encoding map.
    Unknown values will be mapped to -1.
    """
    for col in encoding_map:
        if col in df.columns:
            df[col] = df[col].map(encoding_map[col]).fillna(-1).astype(int)
    return df

In [10]:

df= encode_categorical(df, encoding_map)

In [11]:
# df['Label'] = df['Label'].replace({
#     '-   Benign   -': 0,
#     '-   Malicious   DDoS': 1,
#     '-   Malicious   C&C': 1,
#     '-   Malicious   PartOfAHorizontalPortScan   -':1,
#     # Add other malicious variants
# })

In [12]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,0,1.538479e+09,CSQG794riQ4XnzTxP2,192.168.100.103,37082,192.168.100.1,53,2,2,5.005151,...,0,-,-,0,D,2,134,0,0,0
1,1,1.538479e+09,COTbdG2BhtGBlmf6r,192.168.100.103,34486,192.168.100.1,53,2,2,0.007243,...,4,-,-,0,Dd,2,146,2,146,0
2,2,1.538479e+09,CP48WJ2HOnLuGtr5kb,192.168.100.103,37601,192.168.100.1,53,2,2,0.002250,...,4,-,-,0,Dd,2,146,2,146,0
3,3,1.538479e+09,CeTMJi2TydRSaVdsG4,192.168.100.103,46439,192.168.100.1,53,2,2,5.005154,...,0,-,-,0,D,2,134,0,0,0
4,4,1.538479e+09,CZ6ne24AN9WAg9XA9d,192.168.100.103,55174,192.168.100.1,53,2,2,0.002246,...,4,-,-,0,Dd,2,146,2,146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,3204,1.538565e+09,CgenZ5oaUlAs8oOP8,192.168.100.103,123,217.30.75.147,123,2,0,0.058227,...,4,-,-,0,Dd,1,76,1,76,0
3205,3205,1.538565e+09,CuyoPRuDeCX9EleYd,192.168.100.103,123,217.30.75.147,123,2,0,0.002738,...,4,-,-,0,Dd,1,76,1,76,0
3206,3206,1.538565e+09,CXya0e36iFhSxS3Mf9,192.168.100.103,123,217.30.75.147,123,2,0,0.033229,...,4,-,-,0,Dd,1,76,1,76,0
3207,3207,1.538521e+09,CGLDvm3X8xOnv1Rfwf,192.168.100.103,38098,66.85.157.90,443,1,0,44325.615625,...,1,-,-,4500,ShADCaGcgd,8872,372893,9307,388975,1
3208,3208,1.538565e+09,Cr70I22hK5v40Wu9mh,192.168.100.103,123,217.30.75.147,123,2,0,0.042471,...,4,-,-,0,Dd,1,76,1,76,0

In [13]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr, chi2_contingency
from sklearn.feature_selection import mutual_info_classif

# Check dtypes
print("Data Types:\n", df.dtypes)

Data Types:
 Unnamed: 0         int64
ts               float64
uid               object
id.orig_h         object
id.orig_p          int64
id.resp_h         object
id.resp_p          int64
proto              int32
service            int32
duration          object
orig_bytes        object
resp_bytes        object
conn_state         int32
local_orig        object
local_resp        object
missed_bytes       int64
history           object
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [14]:
df = df.drop('Unnamed: 0', axis=1)  
df = df.drop('ts', axis=1)  
df = df.drop('uid', axis=1)  
df = df.drop('local_orig', axis=1)  
df = df.drop('local_resp', axis=1)  
df = df.drop('id.orig_h', axis=1)  
df = df.drop('id.resp_h', axis=1)  
df = df.drop('id.orig_p', axis=1)  
df = df.drop('history', axis=1)

In [15]:
df.dtypes

id.resp_p         int64
proto             int32
service           int32
duration         object
orig_bytes       object
resp_bytes       object
conn_state        int32
missed_bytes      int64
orig_pkts         int64
orig_ip_bytes     int64
resp_pkts         int64
resp_ip_bytes     int64
Label             int32
dtype: object

In [16]:
# Convert "numeric-as-object" columns to float/int
cols_to_convert = ['duration', 'orig_bytes', 'resp_bytes']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')  # 'coerce' sets invalid parsing as NaN

In [17]:
df.dtypes

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [18]:

# # One-hot encode categorical features
# df = pd.get_dummies(df, columns=['proto', 'service', 'conn_state'], drop_first=True)

In [19]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [20]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,53,2,2,5.005151,78.0,0.0,0,0,2,134,0,0,0
1,53,2,2,0.007243,90.0,90.0,4,0,2,146,2,146,0
2,53,2,2,0.002250,90.0,90.0,4,0,2,146,2,146,0
3,53,2,2,5.005154,78.0,0.0,0,0,2,134,0,0,0
4,53,2,2,0.002246,90.0,90.0,4,0,2,146,2,146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,123,2,0,0.058227,48.0,48.0,4,0,1,76,1,76,0
3205,123,2,0,0.002738,48.0,48.0,4,0,1,76,1,76,0
3206,123,2,0,0.033229,48.0,48.0,4,0,1,76,1,76,0
3207,443,1,0,44325.615625,19431.0,19431.0,1,4500,8872,372893,9307,388975,1
3208,123,2,0,0.042471,48.0,48.0,4,0,1,76,1,76,0

In [21]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [23]:
df["Label"].value_counts()

Label
0    3193
1      16
Name: count, dtype: int64

In [24]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,53,2,2,5.005151,78.0,0.0,0,0,2,134,0,0,0
1,53,2,2,0.007243,90.0,90.0,4,0,2,146,2,146,0
2,53,2,2,0.002250,90.0,90.0,4,0,2,146,2,146,0
3,53,2,2,5.005154,78.0,0.0,0,0,2,134,0,0,0
4,53,2,2,0.002246,90.0,90.0,4,0,2,146,2,146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,123,2,0,0.058227,48.0,48.0,4,0,1,76,1,76,0
3205,123,2,0,0.002738,48.0,48.0,4,0,1,76,1,76,0
3206,123,2,0,0.033229,48.0,48.0,4,0,1,76,1,76,0
3207,443,1,0,44325.615625,19431.0,19431.0,1,4500,8872,372893,9307,388975,1
3208,123,2,0,0.042471,48.0,48.0,4,0,1,76,1,76,0

In [29]:
df['Label'].value_counts()

Label
0    3193
1      16
Name: count, dtype: int64

In [30]:
df['Label'] = df['Label'].dropna()

In [31]:
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [32]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,53,2,2,5.005151,78.0,0.0,0,0,2,134,0,0,0
1,53,2,2,0.007243,90.0,90.0,4,0,2,146,2,146,0
2,53,2,2,0.002250,90.0,90.0,4,0,2,146,2,146,0
3,53,2,2,5.005154,78.0,0.0,0,0,2,134,0,0,0
4,53,2,2,0.002246,90.0,90.0,4,0,2,146,2,146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,123,2,0,0.058227,48.0,48.0,4,0,1,76,1,76,0
3205,123,2,0,0.002738,48.0,48.0,4,0,1,76,1,76,0
3206,123,2,0,0.033229,48.0,48.0,4,0,1,76,1,76,0
3207,443,1,0,44325.615625,19431.0,19431.0,1,4500,8872,372893,9307,388975,1
3208,123,2,0,0.042471,48.0,48.0,4,0,1,76,1,76,0

In [33]:
import pandas as pd
import numpy as np

# Assuming df is your loaded DataFrame

# Calculate medians for non-S0 connections
non_s0_mask = df['conn_state'] != 0
medians = {
    'duration': df.loc[non_s0_mask, 'duration'].median(),
    'orig_bytes': df.loc[non_s0_mask, 'orig_bytes'].median(),
    'resp_bytes': df.loc[non_s0_mask, 'resp_bytes'].median()
}

# Only fill NaN values where conn_state == 0
for col in ['duration', 'orig_bytes', 'resp_bytes']:
    # For conn_state == 0: Fill ONLY NaNs with 0
    df.loc[(df['conn_state'] == 0) & (df[col].isna()), col] = 0
    
    # For conn_state != 0: Fill NaNs with their respective medians
    df.loc[(df['conn_state'] != 0) & (df[col].isna()), col] = medians[col]

# Verify the results
print("NaN values after imputation:")
print(df[['duration', 'orig_bytes', 'resp_bytes']].isna().sum())

NaN values after imputation:
duration      0
orig_bytes    0
resp_bytes    0
dtype: int64

In [34]:
df['Label'].isnull().values.any()

False

In [35]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,53,2,2,5.005151,78.0,0.0,0,0,2,134,0,0,0
1,53,2,2,0.007243,90.0,90.0,4,0,2,146,2,146,0
2,53,2,2,0.002250,90.0,90.0,4,0,2,146,2,146,0
3,53,2,2,5.005154,78.0,0.0,0,0,2,134,0,0,0
4,53,2,2,0.002246,90.0,90.0,4,0,2,146,2,146,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3204,123,2,0,0.058227,48.0,48.0,4,0,1,76,1,76,0
3205,123,2,0,0.002738,48.0,48.0,4,0,1,76,1,76,0
3206,123,2,0,0.033229,48.0,48.0,4,0,1,76,1,76,0
3207,443,1,0,44325.615625,19431.0,19431.0,1,4500,8872,372893,9307,388975,1
3208,123,2,0,0.042471,48.0,48.0,4,0,1,76,1,76,0

In [36]:
import pandas as pd

# Check for NaN values in the current DataFrame
nan_check = df.isna().sum()

# Filter to only show columns with NaN values
nan_columns = nan_check[nan_check > 0]

if nan_columns.empty:
    print("No NaN values found in the DataFrame")
else:
    print("Columns with NaN values and their counts:")
    for col, count in nan_columns.items():
        print(f"- {col}: {count} NaN values")
    
    print(f"\nTotal NaN values in DataFrame: {nan_check.sum()}")

No NaN values found in the DataFrame

In [37]:
df['missed_bytes'] = df['missed_bytes'].fillna(0)

In [38]:
df.to_csv(r"20cleaned.csv",index=False)