In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"9.csv")

In [2]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents label detailed-label
0,0,1.532510e+09,CnR6zKxrWbFw26ua7,192.168.100.111,40008,46.28.110.244,123,udp,-,0.004751,...,SF,-,-,0,Dd,1,76,1,76,(empty) Benign -
1,1,1.532511e+09,CcfURS3zgEMzX0RqTc,192.168.100.102,57849,192.168.100.111,22,tcp,-,108.421563,...,OTH,-,-,0,DAd,5,332,2,200,(empty) Benign -
2,2,1.532512e+09,CPhAqD1EhNOoPVA6ha,192.168.100.102,59670,192.168.100.111,22,tcp,-,0.001244,...,S0,-,-,0,SAD,3,189,0,0,(empty) Benign -
3,3,1.532512e+09,CFr56iYeYk4YZXrPf,192.168.100.102,59701,192.168.100.111,22,tcp,-,0.000738,...,S0,-,-,0,SAD,3,189,0,0,(empty) Benign -
4,4,1.532512e+09,C8a9xW23hF8nDgeNtj,192.168.100.111,36199,192.168.100.1,53,udp,dns,-,...,S0,-,-,0,D,1,58,0,0,(empty) Benign -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,6378288,1.532595e+09,CIHonx2ymqlX5DqnU2,192.168.100.111,28057,173.94.58.125,23,tcp,-,-,...,S0,-,-,0,S,1,40,0,0,(empty) Malicious PartOfAHorizontalPortScan
6378289,6378289,1.532595e+09,CwhtUD3BIdOP5L6Y8g,192.168.100.111,52876,69.196.96.231,23,tcp,-,209.874367,...,S1,-,-,0,ShA,8,360,1,44,(empty) Benign -
6378290,6378290,1.532592e+09,CxHWyM2vp5x1mCZmp3,192.168.100.111,39234,192.121.45.63,23,tcp,-,165.760290,...,S1,-,-,0,ShA,5,220,1,44,(empty) Benign -
6378291,6378291,1.532595e+09,CtmaRjXW7FOus0sPa,168.102.14.4,11,192.168.100.111,0,icmp,-,-,...,OTH,-,-,0,-,1,68,0,0,(empty) Benign -
6378292,6378292,1.532595e+09,CUVfp02K1YEXmtDf2h,192.94.118.248,11,192.168.100.111,0,icmp,-,-,...,OTH,-,-,0,-,1,56,0,0,(empty) Benign -

In [3]:
df = df.rename(columns={"tunnel_parents   label   detailed-label": "Label"})
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [4]:
df['Label']=df['Label'].replace('   benign   ','benign')
df['Label']=df['Label'].replace('(empty)   Benign   -','benign')
df['Label']=df['Label'].replace('-   Benign   -','benign')
df['Label']=df['Label'].replace('-   benign   -','benign')
df['Label']=df['Label'].replace('(empty)   benign   -','benign')

In [5]:
df["Label"].value_counts()

Label
(empty)   Malicious   PartOfAHorizontalPortScan    6355745
benign                                               22548
Name: count, dtype: int64

In [6]:
# Transform Label column
df['Label'] = np.where(df['Label'] == 'benign', 0, 1)

In [7]:
df["Label"].value_counts()

Label
1    6355745
0      22548
Name: count, dtype: int64

In [8]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,0,1.532510e+09,CnR6zKxrWbFw26ua7,192.168.100.111,40008,46.28.110.244,123,udp,-,0.004751,...,SF,-,-,0,Dd,1,76,1,76,0
1,1,1.532511e+09,CcfURS3zgEMzX0RqTc,192.168.100.102,57849,192.168.100.111,22,tcp,-,108.421563,...,OTH,-,-,0,DAd,5,332,2,200,0
2,2,1.532512e+09,CPhAqD1EhNOoPVA6ha,192.168.100.102,59670,192.168.100.111,22,tcp,-,0.001244,...,S0,-,-,0,SAD,3,189,0,0,0
3,3,1.532512e+09,CFr56iYeYk4YZXrPf,192.168.100.102,59701,192.168.100.111,22,tcp,-,0.000738,...,S0,-,-,0,SAD,3,189,0,0,0
4,4,1.532512e+09,C8a9xW23hF8nDgeNtj,192.168.100.111,36199,192.168.100.1,53,udp,dns,-,...,S0,-,-,0,D,1,58,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,6378288,1.532595e+09,CIHonx2ymqlX5DqnU2,192.168.100.111,28057,173.94.58.125,23,tcp,-,-,...,S0,-,-,0,S,1,40,0,0,1
6378289,6378289,1.532595e+09,CwhtUD3BIdOP5L6Y8g,192.168.100.111,52876,69.196.96.231,23,tcp,-,209.874367,...,S1,-,-,0,ShA,8,360,1,44,0
6378290,6378290,1.532592e+09,CxHWyM2vp5x1mCZmp3,192.168.100.111,39234,192.121.45.63,23,tcp,-,165.760290,...,S1,-,-,0,ShA,5,220,1,44,0
6378291,6378291,1.532595e+09,CtmaRjXW7FOus0sPa,168.102.14.4,11,192.168.100.111,0,icmp,-,-,...,OTH,-,-,0,-,1,68,0,0,0
6378292,6378292,1.532595e+09,CUVfp02K1YEXmtDf2h,192.94.118.248,11,192.168.100.111,0,icmp,-,-,...,OTH,-,-,0,-,1,56,0,0,0

In [9]:
#Encodeing Features
import pandas as pd

# Your predefined encoding dictionary
encoding_map = {
    "proto": {
        "icmp": 0,
        "tcp": 1,
        "udp": 2,
        "UNKNOWN": -1
    },
    "service": {
        "-": 0,
        "dhcp": 1,
        "dns": 2,
        "http": 3,
        "ssh": 4,
        "ssl": 5,
        "irc": 6,
        "UNKNOWN": -1
    },
    "conn_state": {
         "S0": 0,
         "S1": 1,
         "S2": 2,
         "S3": 3,
         "SF": 4,
         "REJ": 5,
         "RSTO": 6,
         "RSTR": 7,
         "RSTOS0": 8,
         "RSTRH": 9,
         "SH": 10,
         "SHR": 11,
         "OTH": 12,
         "UNKNOWN": -1
    }
}

def encode_categorical(df, encoding_map):
    """
    Convert categorical columns in DataFrame to numerical values using the encoding map.
    Unknown values will be mapped to -1.
    """
    for col in encoding_map:
        if col in df.columns:
            df[col] = df[col].map(encoding_map[col]).fillna(-1).astype(int)
    return df

In [10]:

df= encode_categorical(df, encoding_map)

In [12]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,0,1.532510e+09,CnR6zKxrWbFw26ua7,192.168.100.111,40008,46.28.110.244,123,2,0,0.004751,...,4,-,-,0,Dd,1,76,1,76,0
1,1,1.532511e+09,CcfURS3zgEMzX0RqTc,192.168.100.102,57849,192.168.100.111,22,1,0,108.421563,...,12,-,-,0,DAd,5,332,2,200,0
2,2,1.532512e+09,CPhAqD1EhNOoPVA6ha,192.168.100.102,59670,192.168.100.111,22,1,0,0.001244,...,0,-,-,0,SAD,3,189,0,0,0
3,3,1.532512e+09,CFr56iYeYk4YZXrPf,192.168.100.102,59701,192.168.100.111,22,1,0,0.000738,...,0,-,-,0,SAD,3,189,0,0,0
4,4,1.532512e+09,C8a9xW23hF8nDgeNtj,192.168.100.111,36199,192.168.100.1,53,2,2,-,...,0,-,-,0,D,1,58,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,6378288,1.532595e+09,CIHonx2ymqlX5DqnU2,192.168.100.111,28057,173.94.58.125,23,1,0,-,...,0,-,-,0,S,1,40,0,0,1
6378289,6378289,1.532595e+09,CwhtUD3BIdOP5L6Y8g,192.168.100.111,52876,69.196.96.231,23,1,0,209.874367,...,1,-,-,0,ShA,8,360,1,44,0
6378290,6378290,1.532592e+09,CxHWyM2vp5x1mCZmp3,192.168.100.111,39234,192.121.45.63,23,1,0,165.760290,...,1,-,-,0,ShA,5,220,1,44,0
6378291,6378291,1.532595e+09,CtmaRjXW7FOus0sPa,168.102.14.4,11,192.168.100.111,0,0,0,-,...,12,-,-,0,-,1,68,0,0,0
6378292,6378292,1.532595e+09,CUVfp02K1YEXmtDf2h,192.94.118.248,11,192.168.100.111,0,0,0,-,...,12,-,-,0,-,1,56,0,0,0

In [13]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr, chi2_contingency
from sklearn.feature_selection import mutual_info_classif

# Check dtypes
print("Data Types:\n", df.dtypes)

Data Types:
 Unnamed: 0         int64
ts               float64
uid               object
id.orig_h         object
id.orig_p          int64
id.resp_h         object
id.resp_p          int64
proto              int32
service            int32
duration          object
orig_bytes        object
resp_bytes        object
conn_state         int32
local_orig        object
local_resp        object
missed_bytes       int64
history           object
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [14]:
df = df.drop('Unnamed: 0', axis=1)  
df = df.drop('ts', axis=1)  
df = df.drop('uid', axis=1)  
df = df.drop('local_orig', axis=1)  
df = df.drop('local_resp', axis=1)  
df = df.drop('id.orig_h', axis=1)  
df = df.drop('id.resp_h', axis=1)  
df = df.drop('id.orig_p', axis=1)  
df = df.drop('history', axis=1)

In [15]:
df.dtypes

id.resp_p         int64
proto             int32
service           int32
duration         object
orig_bytes       object
resp_bytes       object
conn_state        int32
missed_bytes      int64
orig_pkts         int64
orig_ip_bytes     int64
resp_pkts         int64
resp_ip_bytes     int64
Label             int32
dtype: object

In [16]:
# Convert "numeric-as-object" columns to float/int
cols_to_convert = ['duration', 'orig_bytes', 'resp_bytes']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')  # 'coerce' sets invalid parsing as NaN

In [17]:
df.dtypes

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [19]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [20]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,123,2,0,0.004751,48.0,48.0,4,0,1,76,1,76,0
1,22,1,0,108.421563,2376.0,96.0,12,0,5,332,2,200,0
2,22,1,0,0.001244,21.0,0.0,0,0,3,189,0,0,0
3,22,1,0,0.000738,21.0,0.0,0,0,3,189,0,0,0
4,53,2,2,NaN,NaN,NaN,0,0,1,58,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,23,1,0,NaN,NaN,NaN,0,0,1,40,0,0,1
6378289,23,1,0,209.874367,0.0,0.0,1,0,8,360,1,44,0
6378290,23,1,0,165.760290,0.0,0.0,1,0,5,220,1,44,0
6378291,0,0,0,NaN,NaN,NaN,12,0,1,68,0,0,0
6378292,0,0,0,NaN,NaN,NaN,12,0,1,56,0,0,0

In [21]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [22]:
print(df[['id.resp_p', 'missed_bytes', 'orig_pkts']].describe())

          id.resp_p  missed_bytes     orig_pkts
count  6.378293e+06  6.378293e+06  6.378293e+06
mean   1.164653e+02  2.773156e-03  1.006487e+00
std    1.758842e+03  4.584812e+00  2.429022e-01
min    0.000000e+00  0.000000e+00  0.000000e+00
25%    2.300000e+01  0.000000e+00  1.000000e+00
50%    2.300000e+01  0.000000e+00  1.000000e+00
75%    8.100000e+01  0.000000e+00  1.000000e+00
max    6.553500e+04  8.160000e+03  1.280000e+02

In [23]:
df["Label"].value_counts()

Label
1    6355745
0      22548
Name: count, dtype: int64

In [24]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,123,2,0,0.004751,48.0,48.0,4,0,1,76,1,76,0
1,22,1,0,108.421563,2376.0,96.0,12,0,5,332,2,200,0
2,22,1,0,0.001244,21.0,0.0,0,0,3,189,0,0,0
3,22,1,0,0.000738,21.0,0.0,0,0,3,189,0,0,0
4,53,2,2,NaN,NaN,NaN,0,0,1,58,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,23,1,0,NaN,NaN,NaN,0,0,1,40,0,0,1
6378289,23,1,0,209.874367,0.0,0.0,1,0,8,360,1,44,0
6378290,23,1,0,165.760290,0.0,0.0,1,0,5,220,1,44,0
6378291,0,0,0,NaN,NaN,NaN,12,0,1,68,0,0,0
6378292,0,0,0,NaN,NaN,NaN,12,0,1,56,0,0,0

In [29]:
df['Label'].value_counts()

Label
1    6355745
0      22548
Name: count, dtype: int64

In [30]:
df['Label'] = df['Label'].dropna()

In [31]:
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [32]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,123,2,0,0.004751,48.0,48.0,4,0,1,76,1,76,0
1,22,1,0,108.421563,2376.0,96.0,12,0,5,332,2,200,0
2,22,1,0,0.001244,21.0,0.0,0,0,3,189,0,0,0
3,22,1,0,0.000738,21.0,0.0,0,0,3,189,0,0,0
4,53,2,2,NaN,NaN,NaN,0,0,1,58,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,23,1,0,NaN,NaN,NaN,0,0,1,40,0,0,1
6378289,23,1,0,209.874367,0.0,0.0,1,0,8,360,1,44,0
6378290,23,1,0,165.760290,0.0,0.0,1,0,5,220,1,44,0
6378291,0,0,0,NaN,NaN,NaN,12,0,1,68,0,0,0
6378292,0,0,0,NaN,NaN,NaN,12,0,1,56,0,0,0

In [33]:
import pandas as pd
import numpy as np

# Assuming df is your loaded DataFrame

# Calculate medians for non-S0 connections
non_s0_mask = df['conn_state'] != 0
medians = {
    'duration': df.loc[non_s0_mask, 'duration'].median(),
    'orig_bytes': df.loc[non_s0_mask, 'orig_bytes'].median(),
    'resp_bytes': df.loc[non_s0_mask, 'resp_bytes'].median()
}

# Only fill NaN values where conn_state == 0
for col in ['duration', 'orig_bytes', 'resp_bytes']:
    # For conn_state == 0: Fill ONLY NaNs with 0
    df.loc[(df['conn_state'] == 0) & (df[col].isna()), col] = 0
    
    # For conn_state != 0: Fill NaNs with their respective medians
    df.loc[(df['conn_state'] != 0) & (df[col].isna()), col] = medians[col]

# Verify the results
print("NaN values after imputation:")
print(df[['duration', 'orig_bytes', 'resp_bytes']].isna().sum())

NaN values after imputation:
duration      0
orig_bytes    0
resp_bytes    0
dtype: int64

In [34]:
df['Label'].isnull().values.any()

False

In [35]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,123,2,0,0.004751,48.0,48.0,4,0,1,76,1,76,0
1,22,1,0,108.421563,2376.0,96.0,12,0,5,332,2,200,0
2,22,1,0,0.001244,21.0,0.0,0,0,3,189,0,0,0
3,22,1,0,0.000738,21.0,0.0,0,0,3,189,0,0,0
4,53,2,2,0.000000,0.0,0.0,0,0,1,58,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378288,23,1,0,0.000000,0.0,0.0,0,0,1,40,0,0,1
6378289,23,1,0,209.874367,0.0,0.0,1,0,8,360,1,44,0
6378290,23,1,0,165.760290,0.0,0.0,1,0,5,220,1,44,0
6378291,0,0,0,0.305824,0.0,0.0,12,0,1,68,0,0,0
6378292,0,0,0,0.305824,0.0,0.0,12,0,1,56,0,0,0

In [36]:
import pandas as pd

# Check for NaN values in the current DataFrame
nan_check = df.isna().sum()

# Filter to only show columns with NaN values
nan_columns = nan_check[nan_check > 0]

if nan_columns.empty:
    print("No NaN values found in the DataFrame")
else:
    print("Columns with NaN values and their counts:")
    for col, count in nan_columns.items():
        print(f"- {col}: {count} NaN values")
    
    print(f"\nTotal NaN values in DataFrame: {nan_check.sum()}")

No NaN values found in the DataFrame

In [37]:
df['missed_bytes'] = df['missed_bytes'].fillna(0)

In [38]:
df.to_csv(r"9cleaned.csv",index=False)