In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"4.csv")

In [2]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents label detailed-label
0,0,1540469303,CGm6jB4dXK71ZDWUDh,192.168.1.132,58687,216.239.35.4,123,udp,-,0.114184,...,SF,-,-,0,Dd,1,76,1,76,- benign -
1,1,1540469197,CnaDAG3n5r8eiG4su2,192.168.1.132,1900,239.255.255.250,1900,udp,-,160.367579,...,S0,-,-,0,D,24,8208,0,0,- benign -
2,2,1540469386,CUrxU238nt0m6yTgKf,192.168.1.132,32893,216.239.35.8,123,udp,-,0.016986,...,SF,-,-,0,Dd,1,76,1,76,- benign -
3,3,1540469831,CGQf8t1kjdxB5PHXL4,192.168.1.132,53395,2.16.60.82,443,tcp,-,0.003497,...,SF,-,-,0,ShAFf,5,212,3,144,- benign -
4,4,1540469831,CUo9DH2QDnCaBIGjkg,192.168.1.132,52801,192.168.1.1,53,udp,dns,0.036724,...,SF,-,-,0,Dd,1,62,1,339,- benign -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,447,1540547243,CaITg437HfJAXTXZ44,192.168.1.132,53722,2.16.60.82,443,tcp,-,0.011493,...,SF,-,-,0,ShAFf,4,172,2,92,- benign -
448,448,1540547243,ChD10Y1fVGrFvMpD6g,192.168.1.132,43799,192.168.1.1,53,udp,dns,0.066709,...,SF,-,-,0,Dd,1,62,1,325,- benign -
449,449,1540547904,Caxyou4MZpRXfDBG8h,192.168.1.132,51285,216.239.35.12,123,udp,-,0.270107,...,SF,-,-,0,Dd,1,76,1,76,- benign -
450,450,1540469198,CkHQfG3B034MyvP3W,192.168.1.132,37653,104.155.18.91,443,tcp,-,78840.32931,...,OTH,-,-,0,AaDd,3291,157263,2667,129675,- benign -
451,451,1540477674,ClZeN63S7LbgEs2ZNk,192.168.1.132,1900,239.255.255.250,1900,udp,-,70334.10574,...,S0,-,-,0,D,8124,2778408,0,0,- benign -

In [5]:
df = df.rename(columns={"tunnel_parents   label   detailed-label": "Label"})
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [6]:
df['Label']=df['Label'].replace('   benign   ','benign')
df['Label']=df['Label'].replace('(empty)   Benign   -','benign')
df['Label']=df['Label'].replace('-   Benign   -','benign')
df['Label']=df['Label'].replace('-   benign   -','benign')
df['Label']=df['Label'].replace('(empty)   benign   -','benign')

In [7]:
df["Label"].value_counts()

Label
benign    452
Name: count, dtype: int64

In [8]:
# Transform Label column
df['Label'] = np.where(df['Label'] == 'benign', 0, 1)

In [9]:
df["Label"].value_counts()

Label
0    452
Name: count, dtype: int64

In [10]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,0,1540469303,CGm6jB4dXK71ZDWUDh,192.168.1.132,58687,216.239.35.4,123,udp,-,0.114184,...,SF,-,-,0,Dd,1,76,1,76,0
1,1,1540469197,CnaDAG3n5r8eiG4su2,192.168.1.132,1900,239.255.255.250,1900,udp,-,160.367579,...,S0,-,-,0,D,24,8208,0,0,0
2,2,1540469386,CUrxU238nt0m6yTgKf,192.168.1.132,32893,216.239.35.8,123,udp,-,0.016986,...,SF,-,-,0,Dd,1,76,1,76,0
3,3,1540469831,CGQf8t1kjdxB5PHXL4,192.168.1.132,53395,2.16.60.82,443,tcp,-,0.003497,...,SF,-,-,0,ShAFf,5,212,3,144,0
4,4,1540469831,CUo9DH2QDnCaBIGjkg,192.168.1.132,52801,192.168.1.1,53,udp,dns,0.036724,...,SF,-,-,0,Dd,1,62,1,339,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
447,447,1540547243,CaITg437HfJAXTXZ44,192.168.1.132,53722,2.16.60.82,443,tcp,-,0.011493,...,SF,-,-,0,ShAFf,4,172,2,92,0
448,448,1540547243,ChD10Y1fVGrFvMpD6g,192.168.1.132,43799,192.168.1.1,53,udp,dns,0.066709,...,SF,-,-,0,Dd,1,62,1,325,0
449,449,1540547904,Caxyou4MZpRXfDBG8h,192.168.1.132,51285,216.239.35.12,123,udp,-,0.270107,...,SF,-,-,0,Dd,1,76,1,76,0
450,450,1540469198,CkHQfG3B034MyvP3W,192.168.1.132,37653,104.155.18.91,443,tcp,-,78840.32931,...,OTH,-,-,0,AaDd,3291,157263,2667,129675,0
451,451,1540477674,ClZeN63S7LbgEs2ZNk,192.168.1.132,1900,239.255.255.250,1900,udp,-,70334.10574,...,S0,-,-,0,D,8124,2778408,0,0,0

In [11]:
#Encodeing Features
import pandas as pd

# Your predefined encoding dictionary
encoding_map = {
    "proto": {
        "icmp": 0,
        "tcp": 1,
        "udp": 2,
        "UNKNOWN": -1
    },
    "service": {
        "-": 0,
        "dhcp": 1,
        "dns": 2,
        "http": 3,
        "ssh": 4,
        "ssl": 5,
        "irc": 6,
        "UNKNOWN": -1
    },
    "conn_state": {
         "S0": 0,
         "S1": 1,
         "S2": 2,
         "S3": 3,
         "SF": 4,
         "REJ": 5,
         "RSTO": 6,
         "RSTR": 7,
         "RSTOS0": 8,
         "RSTRH": 9,
         "SH": 10,
         "SHR": 11,
         "OTH": 12,
         "UNKNOWN": -1
    }
}

def encode_categorical(df, encoding_map):
    """
    Convert categorical columns in DataFrame to numerical values using the encoding map.
    Unknown values will be mapped to -1.
    """
    for col in encoding_map:
        if col in df.columns:
            df[col] = df[col].map(encoding_map[col]).fillna(-1).astype(int)
    return df

In [12]:

df= encode_categorical(df, encoding_map)

In [12]:
df

,Unnamed: 0,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,0,1.526756e+09,C9YvmJ3zxtuqxWxLW5,192.168.2.5,38792,200.168.87.203,59353,1,0,2.998333,...,0,-,-,0,S,3,180,0,0,1
1,1,1.526756e+09,CGsZqZ3UiQexLzPRVb,192.168.2.5,38792,200.168.87.203,59353,1,0,-,...,0,-,-,0,S,1,60,0,0,1
2,2,1.526756e+09,C0LkBW2VEa292Nvet8,192.168.2.5,38793,200.168.87.203,59353,1,0,2.997182,...,0,-,-,0,S,3,180,0,0,1
3,3,1.526756e+09,CMDLrn2cVhrqvW8gKa,192.168.2.5,38793,200.168.87.203,59353,1,0,-,...,0,-,-,0,S,1,60,0,0,1
4,4,1.526756e+09,C2UM8f4knuL5Vnvp3h,192.168.2.5,38794,200.168.87.203,59353,1,0,2.996286,...,0,-,-,0,S,3,180,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156098,156098,1.526886e+09,CzeVGM1n60FIryJyBi,192.168.2.5,36646,200.168.87.203,59353,1,0,-,...,0,-,-,0,S,1,60,0,0,1
156099,156099,1.526886e+09,Cq9Oi6YyGNTJlf356,192.168.2.5,36647,200.168.87.203,59353,1,0,2.996060,...,0,-,-,0,S,3,180,0,0,1
156100,156100,1.526886e+09,Cc5Jwn4krKLqvFHdG1,192.168.2.5,36647,200.168.87.203,59353,1,0,-,...,0,-,-,0,S,1,60,0,0,1
156101,156101,1.526886e+09,Ck8fNL3RpnSPu9Kn9e,192.168.2.5,36648,200.168.87.203,59353,1,0,0.995112,...,0,-,-,0,S,2,120,0,0,1
156102,156102,1.526793e+09,CY3eGl3hKYsrYxwFv6,192.168.2.5,41501,54.39.23.28,2407,1,6,93280.030966,...,1,-,-,0,ShADad,3031,164117,5975,289732,1

In [13]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr, chi2_contingency
from sklearn.feature_selection import mutual_info_classif

# Check dtypes
print("Data Types:\n", df.dtypes)

Data Types:
 Unnamed: 0         int64
ts               float64
uid               object
id.orig_h         object
id.orig_p          int64
id.resp_h         object
id.resp_p          int64
proto              int32
service            int32
duration          object
orig_bytes        object
resp_bytes        object
conn_state         int32
local_orig        object
local_resp        object
missed_bytes       int64
history           object
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [14]:
df = df.drop('Unnamed: 0', axis=1)  
df = df.drop('ts', axis=1)  
df = df.drop('uid', axis=1)  
df = df.drop('local_orig', axis=1)  
df = df.drop('local_resp', axis=1)  
df = df.drop('id.orig_h', axis=1)  
df = df.drop('id.resp_h', axis=1)  
df = df.drop('id.orig_p', axis=1)  
df = df.drop('history', axis=1)

In [15]:
df.dtypes

id.resp_p         int64
proto             int32
service           int32
duration         object
orig_bytes       object
resp_bytes       object
conn_state        int32
missed_bytes      int64
orig_pkts         int64
orig_ip_bytes     int64
resp_pkts         int64
resp_ip_bytes     int64
Label             int32
dtype: object

In [16]:
# Convert "numeric-as-object" columns to float/int
cols_to_convert = ['duration', 'orig_bytes', 'resp_bytes']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')  # 'coerce' sets invalid parsing as NaN

In [17]:
df.dtypes

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [19]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [20]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,59353,1,0,2.998333,0.0,0.0,0,0,3,180,0,0,1
1,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
2,59353,1,0,2.997182,0.0,0.0,0,0,3,180,0,0,1
3,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
4,59353,1,0,2.996286,0.0,0.0,0,0,3,180,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156098,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
156099,59353,1,0,2.996060,0.0,0.0,0,0,3,180,0,0,1
156100,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
156101,59353,1,0,0.995112,0.0,0.0,0,0,2,120,0,0,1
156102,2407,1,6,93280.030966,6303.0,9069.0,1,0,3031,164117,5975,289732,1

In [21]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [22]:
print(df[['id.resp_p', 'missed_bytes', 'orig_pkts']].describe())

           id.resp_p  missed_bytes      orig_pkts
count  156103.000000      156103.0  156103.000000
mean     8876.350698           0.0       2.487620
std     21140.312518           0.0       8.334926
min         0.000000           0.0       0.000000
25%        22.000000           0.0       1.000000
50%        22.000000           0.0       3.000000
75%        22.000000           0.0       3.000000
max     59353.000000           0.0    3031.000000

In [23]:
df["Label"].value_counts()

Label
1    151567
0      4536
Name: count, dtype: int64

In [24]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,59353,1,0,2.998333,0.0,0.0,0,0,3,180,0,0,1
1,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
2,59353,1,0,2.997182,0.0,0.0,0,0,3,180,0,0,1
3,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
4,59353,1,0,2.996286,0.0,0.0,0,0,3,180,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156098,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
156099,59353,1,0,2.996060,0.0,0.0,0,0,3,180,0,0,1
156100,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
156101,59353,1,0,0.995112,0.0,0.0,0,0,2,120,0,0,1
156102,2407,1,6,93280.030966,6303.0,9069.0,1,0,3031,164117,5975,289732,1

In [29]:
df['Label'].value_counts()

Label
1    151567
0      4536
Name: count, dtype: int64

In [30]:
df['Label'] = df['Label'].dropna()

In [31]:
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [32]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,59353,1,0,2.998333,0.0,0.0,0,0,3,180,0,0,1
1,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
2,59353,1,0,2.997182,0.0,0.0,0,0,3,180,0,0,1
3,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
4,59353,1,0,2.996286,0.0,0.0,0,0,3,180,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156098,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
156099,59353,1,0,2.996060,0.0,0.0,0,0,3,180,0,0,1
156100,59353,1,0,NaN,NaN,NaN,0,0,1,60,0,0,1
156101,59353,1,0,0.995112,0.0,0.0,0,0,2,120,0,0,1
156102,2407,1,6,93280.030966,6303.0,9069.0,1,0,3031,164117,5975,289732,1

In [33]:
import pandas as pd
import numpy as np

# Assuming df is your loaded DataFrame

# Calculate medians for non-S0 connections
non_s0_mask = df['conn_state'] != 0
medians = {
    'duration': df.loc[non_s0_mask, 'duration'].median(),
    'orig_bytes': df.loc[non_s0_mask, 'orig_bytes'].median(),
    'resp_bytes': df.loc[non_s0_mask, 'resp_bytes'].median()
}

# Only fill NaN values where conn_state == 0
for col in ['duration', 'orig_bytes', 'resp_bytes']:
    # For conn_state == 0: Fill ONLY NaNs with 0
    df.loc[(df['conn_state'] == 0) & (df[col].isna()), col] = 0
    
    # For conn_state != 0: Fill NaNs with their respective medians
    df.loc[(df['conn_state'] != 0) & (df[col].isna()), col] = medians[col]

# Verify the results
print("NaN values after imputation:")
print(df[['duration', 'orig_bytes', 'resp_bytes']].isna().sum())

NaN values after imputation:
duration      0
orig_bytes    0
resp_bytes    0
dtype: int64

In [34]:
df['Label'].isnull().values.any()

False

In [35]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,59353,1,0,2.998333,0.0,0.0,0,0,3,180,0,0,1
1,59353,1,0,0.000000,0.0,0.0,0,0,1,60,0,0,1
2,59353,1,0,2.997182,0.0,0.0,0,0,3,180,0,0,1
3,59353,1,0,0.000000,0.0,0.0,0,0,1,60,0,0,1
4,59353,1,0,2.996286,0.0,0.0,0,0,3,180,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156098,59353,1,0,0.000000,0.0,0.0,0,0,1,60,0,0,1
156099,59353,1,0,2.996060,0.0,0.0,0,0,3,180,0,0,1
156100,59353,1,0,0.000000,0.0,0.0,0,0,1,60,0,0,1
156101,59353,1,0,0.995112,0.0,0.0,0,0,2,120,0,0,1
156102,2407,1,6,93280.030966,6303.0,9069.0,1,0,3031,164117,5975,289732,1

In [36]:
import pandas as pd

# Check for NaN values in the current DataFrame
nan_check = df.isna().sum()

# Filter to only show columns with NaN values
nan_columns = nan_check[nan_check > 0]

if nan_columns.empty:
    print("No NaN values found in the DataFrame")
else:
    print("Columns with NaN values and their counts:")
    for col, count in nan_columns.items():
        print(f"- {col}: {count} NaN values")
    
    print(f"\nTotal NaN values in DataFrame: {nan_check.sum()}")

No NaN values found in the DataFrame

In [37]:
df['missed_bytes'] = df['missed_bytes'].fillna(0)

In [38]:
df.to_csv(r"4cleaned.csv",index=False)