In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"42.csv")

In [4]:
df

,ts,uid,idorig_h,idorig_p,idresp_h,idresp_p,proto,service,duration,orig_bytes,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,tunnel_parents_label_detailedlabel
0,1.547127e+09,CXY5uG2sSmjJ0grfY2,192.168.1.197,58312,104.24.96.120,80,tcp,http,3.909013,83,...,SF,-,-,4380,ShADadttFf,54,3371,50,69224,- Malicious FileDownload -
1,1.547127e+09,Ce3AJzwzXwM3Z1XBg,192.168.1.197,45082,104.24.97.120,80,tcp,http,4.767024,150,...,SF,-,-,0,ShADadttFf,54,2938,50,69224,- Malicious C&C-FileDownload -
2,1.547127e+09,CJgnSb3XpbbOcMHKUd,192.168.1.197,58316,104.24.96.120,80,tcp,-,3.107228,0,...,S0,-,-,0,S,3,180,0,0,- Benign -
3,1.547127e+09,Cq43w4aHlsW8nXZ3l,192.168.1.197,59357,192.168.1.1,53,udp,dns,0.029483,58,...,SF,-,-,0,Dd,2,114,2,202,- Benign -
4,1.547127e+09,C5uLwl2hGy10y9PSr6,192.168.1.197,39686,192.168.1.1,53,udp,dns,0.001249,58,...,SF,-,-,0,Dd,2,114,2,202,- Benign -
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,1.547156e+09,Cg18Jr15pQhdJUELL4,192.168.1.197,123,82.113.53.40,123,udp,-,-,-,...,S0,-,-,0,D,1,76,0,0,- Benign -
4422,1.547156e+09,CF56fv3yDg2vRnegKa,192.168.1.197,123,89.221.214.130,123,udp,-,0.003995,48,...,SF,-,-,0,Dd,1,76,1,76,- Benign -
4423,1.547157e+09,Ccvd9l4NjDPEkD1nRd,192.168.1.197,123,81.2.248.189,123,udp,-,0.005252,48,...,SF,-,-,0,Dd,1,76,1,76,- Benign -
4424,1.547127e+09,C07GbT1HxlFUEjwiNh,185.244.25.183,4975,192.168.1.197,50516,tcp,-,30007.122211,8499,...,OTH,-,-,0,DdAa,654,42791,348,26493,- Benign -
4425,1.547157e+09,Cb4VXV3tOHGjcsI0cf,192.168.1.197,123,82.113.53.40,123,udp,-,-,-,...,S0,-,-,0,D,1,76,0,0,- Benign -

In [5]:
df = df.rename(columns={"tunnel_parents_label_detailedlabel": "tunnel_parents   label   detailed-label"})
df = df.rename(columns={"tunnel_parents   label   detailed-label": "Label"})
df = df.rename(columns={"idorig_h": "id.orig_h"})
df = df.rename(columns={"idorig_p": "id.orig_p"})
df = df.rename(columns={"idresp_p": "id.resp_p"})
df = df.rename(columns={"idresp_h": "id.resp_h"})
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [6]:
df['Label']=df['Label'].replace('   benign   ','benign')
df['Label']=df['Label'].replace('(empty)   Benign   -','benign')
df['Label']=df['Label'].replace('-   Benign   -','benign')
df['Label']=df['Label'].replace('-   benign   -','benign')
df['Label']=df['Label'].replace('(empty)   benign   -','benign')

In [7]:
df["Label"].value_counts()

Label
benign                                  4420
-   Malicious   FileDownload   -           3
-   Malicious   C&C-FileDownload   -       3
Name: count, dtype: int64

In [8]:
# Transform Label column
df['Label'] = np.where(df['Label'] == 'benign', 0, 1)

In [9]:
df["Label"].value_counts()

Label
0    4420
1       6
Name: count, dtype: int64

In [10]:
df

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,1.547127e+09,CXY5uG2sSmjJ0grfY2,192.168.1.197,58312,104.24.96.120,80,tcp,http,3.909013,83,...,SF,-,-,4380,ShADadttFf,54,3371,50,69224,1
1,1.547127e+09,Ce3AJzwzXwM3Z1XBg,192.168.1.197,45082,104.24.97.120,80,tcp,http,4.767024,150,...,SF,-,-,0,ShADadttFf,54,2938,50,69224,1
2,1.547127e+09,CJgnSb3XpbbOcMHKUd,192.168.1.197,58316,104.24.96.120,80,tcp,-,3.107228,0,...,S0,-,-,0,S,3,180,0,0,0
3,1.547127e+09,Cq43w4aHlsW8nXZ3l,192.168.1.197,59357,192.168.1.1,53,udp,dns,0.029483,58,...,SF,-,-,0,Dd,2,114,2,202,0
4,1.547127e+09,C5uLwl2hGy10y9PSr6,192.168.1.197,39686,192.168.1.1,53,udp,dns,0.001249,58,...,SF,-,-,0,Dd,2,114,2,202,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,1.547156e+09,Cg18Jr15pQhdJUELL4,192.168.1.197,123,82.113.53.40,123,udp,-,-,-,...,S0,-,-,0,D,1,76,0,0,0
4422,1.547156e+09,CF56fv3yDg2vRnegKa,192.168.1.197,123,89.221.214.130,123,udp,-,0.003995,48,...,SF,-,-,0,Dd,1,76,1,76,0
4423,1.547157e+09,Ccvd9l4NjDPEkD1nRd,192.168.1.197,123,81.2.248.189,123,udp,-,0.005252,48,...,SF,-,-,0,Dd,1,76,1,76,0
4424,1.547127e+09,C07GbT1HxlFUEjwiNh,185.244.25.183,4975,192.168.1.197,50516,tcp,-,30007.122211,8499,...,OTH,-,-,0,DdAa,654,42791,348,26493,0
4425,1.547157e+09,Cb4VXV3tOHGjcsI0cf,192.168.1.197,123,82.113.53.40,123,udp,-,-,-,...,S0,-,-,0,D,1,76,0,0,0

In [11]:
#Encodeing Features
import pandas as pd

# Your predefined encoding dictionary
encoding_map = {
    "proto": {
        "icmp": 0,
        "tcp": 1,
        "udp": 2,
        "UNKNOWN": -1
    },
    "service": {
        "-": 0,
        "dhcp": 1,
        "dns": 2,
        "http": 3,
        "ssh": 4,
        "ssl": 5,
        "irc": 6,
        "UNKNOWN": -1
    },
    "conn_state": {
         "S0": 0,
         "S1": 1,
         "S2": 2,
         "S3": 3,
         "SF": 4,
         "REJ": 5,
         "RSTO": 6,
         "RSTR": 7,
         "RSTOS0": 8,
         "RSTRH": 9,
         "SH": 10,
         "SHR": 11,
         "OTH": 12,
         "UNKNOWN": -1
    }
}

def encode_categorical(df, encoding_map):
    """
    Convert categorical columns in DataFrame to numerical values using the encoding map.
    Unknown values will be mapped to -1.
    """
    for col in encoding_map:
        if col in df.columns:
            df[col] = df[col].map(encoding_map[col]).fillna(-1).astype(int)
    return df

In [12]:

df= encode_categorical(df, encoding_map)

In [14]:
df

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,service,duration,orig_bytes,...,conn_state,local_orig,local_resp,missed_bytes,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,1.547127e+09,CXY5uG2sSmjJ0grfY2,192.168.1.197,58312,104.24.96.120,80,1,3,3.909013,83,...,4,-,-,4380,ShADadttFf,54,3371,50,69224,1
1,1.547127e+09,Ce3AJzwzXwM3Z1XBg,192.168.1.197,45082,104.24.97.120,80,1,3,4.767024,150,...,4,-,-,0,ShADadttFf,54,2938,50,69224,1
2,1.547127e+09,CJgnSb3XpbbOcMHKUd,192.168.1.197,58316,104.24.96.120,80,1,0,3.107228,0,...,0,-,-,0,S,3,180,0,0,0
3,1.547127e+09,Cq43w4aHlsW8nXZ3l,192.168.1.197,59357,192.168.1.1,53,2,2,0.029483,58,...,4,-,-,0,Dd,2,114,2,202,0
4,1.547127e+09,C5uLwl2hGy10y9PSr6,192.168.1.197,39686,192.168.1.1,53,2,2,0.001249,58,...,4,-,-,0,Dd,2,114,2,202,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,1.547156e+09,Cg18Jr15pQhdJUELL4,192.168.1.197,123,82.113.53.40,123,2,0,-,-,...,0,-,-,0,D,1,76,0,0,0
4422,1.547156e+09,CF56fv3yDg2vRnegKa,192.168.1.197,123,89.221.214.130,123,2,0,0.003995,48,...,4,-,-,0,Dd,1,76,1,76,0
4423,1.547157e+09,Ccvd9l4NjDPEkD1nRd,192.168.1.197,123,81.2.248.189,123,2,0,0.005252,48,...,4,-,-,0,Dd,1,76,1,76,0
4424,1.547127e+09,C07GbT1HxlFUEjwiNh,185.244.25.183,4975,192.168.1.197,50516,1,0,30007.122211,8499,...,12,-,-,0,DdAa,654,42791,348,26493,0
4425,1.547157e+09,Cb4VXV3tOHGjcsI0cf,192.168.1.197,123,82.113.53.40,123,2,0,-,-,...,0,-,-,0,D,1,76,0,0,0

In [15]:
import pandas as pd
import numpy as np
from scipy.stats import pointbiserialr, chi2_contingency
from sklearn.feature_selection import mutual_info_classif

# Check dtypes
print("Data Types:\n", df.dtypes)

Data Types:
 ts               float64
uid               object
id.orig_h         object
id.orig_p          int64
id.resp_h         object
id.resp_p          int64
proto              int32
service            int32
duration          object
orig_bytes        object
resp_bytes        object
conn_state         int32
local_orig        object
local_resp        object
missed_bytes       int64
history           object
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [16]:
#df = df.drop('Unnamed: 0', axis=1)  
df = df.drop('ts', axis=1)  
df = df.drop('uid', axis=1)  
df = df.drop('local_orig', axis=1)  
df = df.drop('local_resp', axis=1)  
df = df.drop('id.orig_h', axis=1)  
df = df.drop('id.resp_h', axis=1)  
df = df.drop('id.orig_p', axis=1)  
df = df.drop('history', axis=1)

In [17]:
df.dtypes

id.resp_p         int64
proto             int32
service           int32
duration         object
orig_bytes       object
resp_bytes       object
conn_state        int32
missed_bytes      int64
orig_pkts         int64
orig_ip_bytes     int64
resp_pkts         int64
resp_ip_bytes     int64
Label             int32
dtype: object

In [18]:
# Convert "numeric-as-object" columns to float/int
cols_to_convert = ['duration', 'orig_bytes', 'resp_bytes']
df[cols_to_convert] = df[cols_to_convert].apply(pd.to_numeric, errors='coerce')  # 'coerce' sets invalid parsing as NaN

In [19]:
df.dtypes

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [21]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [22]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,80,1,3,3.909013,83.0,67212.0,4,4380,54,3371,50,69224,1
1,80,1,3,4.767024,150.0,67212.0,4,0,54,2938,50,69224,1
2,80,1,0,3.107228,0.0,0.0,0,0,3,180,0,0,0
3,53,2,2,0.029483,58.0,146.0,4,0,2,114,2,202,0
4,53,2,2,0.001249,58.0,146.0,4,0,2,114,2,202,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,123,2,0,NaN,NaN,NaN,0,0,1,76,0,0,0
4422,123,2,0,0.003995,48.0,48.0,4,0,1,76,1,76,0
4423,123,2,0,0.005252,48.0,48.0,4,0,1,76,1,76,0
4424,50516,1,0,30007.122211,8499.0,8025.0,12,0,654,42791,348,26493,0
4425,123,2,0,NaN,NaN,NaN,0,0,1,76,0,0,0

In [23]:
print(df.dtypes)

id.resp_p          int64
proto              int32
service            int32
duration         float64
orig_bytes       float64
resp_bytes       float64
conn_state         int32
missed_bytes       int64
orig_pkts          int64
orig_ip_bytes      int64
resp_pkts          int64
resp_ip_bytes      int64
Label              int32
dtype: object

In [24]:
print(df[['id.resp_p', 'missed_bytes', 'orig_pkts']].describe())

          id.resp_p  missed_bytes    orig_pkts
count   4426.000000   4426.000000  4426.000000
mean    2241.797108      2.638952     3.040669
std     2538.492908     93.080340    10.746705
min       22.000000      0.000000     1.000000
25%       53.000000      0.000000     1.000000
50%      123.000000      0.000000     1.000000
75%     4975.000000      0.000000     3.000000
max    50516.000000   4380.000000   654.000000

In [25]:
df["Label"].value_counts()

Label
0    4420
1       6
Name: count, dtype: int64

In [26]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,80,1,3,3.909013,83.0,67212.0,4,4380,54,3371,50,69224,1
1,80,1,3,4.767024,150.0,67212.0,4,0,54,2938,50,69224,1
2,80,1,0,3.107228,0.0,0.0,0,0,3,180,0,0,0
3,53,2,2,0.029483,58.0,146.0,4,0,2,114,2,202,0
4,53,2,2,0.001249,58.0,146.0,4,0,2,114,2,202,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,123,2,0,NaN,NaN,NaN,0,0,1,76,0,0,0
4422,123,2,0,0.003995,48.0,48.0,4,0,1,76,1,76,0
4423,123,2,0,0.005252,48.0,48.0,4,0,1,76,1,76,0
4424,50516,1,0,30007.122211,8499.0,8025.0,12,0,654,42791,348,26493,0
4425,123,2,0,NaN,NaN,NaN,0,0,1,76,0,0,0

In [31]:
df['Label'].value_counts()

Label
0    4420
1       6
Name: count, dtype: int64

In [32]:
df['Label'] = df['Label'].dropna()

In [33]:
df.drop(df.index[df['Label'] == 'nan'], inplace = True)

In [34]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,80,1,3,3.909013,83.0,67212.0,4,4380,54,3371,50,69224,1
1,80,1,3,4.767024,150.0,67212.0,4,0,54,2938,50,69224,1
2,80,1,0,3.107228,0.0,0.0,0,0,3,180,0,0,0
3,53,2,2,0.029483,58.0,146.0,4,0,2,114,2,202,0
4,53,2,2,0.001249,58.0,146.0,4,0,2,114,2,202,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,123,2,0,NaN,NaN,NaN,0,0,1,76,0,0,0
4422,123,2,0,0.003995,48.0,48.0,4,0,1,76,1,76,0
4423,123,2,0,0.005252,48.0,48.0,4,0,1,76,1,76,0
4424,50516,1,0,30007.122211,8499.0,8025.0,12,0,654,42791,348,26493,0
4425,123,2,0,NaN,NaN,NaN,0,0,1,76,0,0,0

In [35]:
import pandas as pd
import numpy as np

# Assuming df is your loaded DataFrame

# Calculate medians for non-S0 connections
non_s0_mask = df['conn_state'] != 0
medians = {
    'duration': df.loc[non_s0_mask, 'duration'].median(),
    'orig_bytes': df.loc[non_s0_mask, 'orig_bytes'].median(),
    'resp_bytes': df.loc[non_s0_mask, 'resp_bytes'].median()
}

# Only fill NaN values where conn_state == 0
for col in ['duration', 'orig_bytes', 'resp_bytes']:
    # For conn_state == 0: Fill ONLY NaNs with 0
    df.loc[(df['conn_state'] == 0) & (df[col].isna()), col] = 0
    
    # For conn_state != 0: Fill NaNs with their respective medians
    df.loc[(df['conn_state'] != 0) & (df[col].isna()), col] = medians[col]

# Verify the results
print("NaN values after imputation:")
print(df[['duration', 'orig_bytes', 'resp_bytes']].isna().sum())

NaN values after imputation:
duration      0
orig_bytes    0
resp_bytes    0
dtype: int64

In [36]:
df['Label'].isnull().values.any()

False

In [37]:
df

,id.resp_p,proto,service,duration,orig_bytes,resp_bytes,conn_state,missed_bytes,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,Label
0,80,1,3,3.909013,83.0,67212.0,4,4380,54,3371,50,69224,1
1,80,1,3,4.767024,150.0,67212.0,4,0,54,2938,50,69224,1
2,80,1,0,3.107228,0.0,0.0,0,0,3,180,0,0,0
3,53,2,2,0.029483,58.0,146.0,4,0,2,114,2,202,0
4,53,2,2,0.001249,58.0,146.0,4,0,2,114,2,202,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4421,123,2,0,0.000000,0.0,0.0,0,0,1,76,0,0,0
4422,123,2,0,0.003995,48.0,48.0,4,0,1,76,1,76,0
4423,123,2,0,0.005252,48.0,48.0,4,0,1,76,1,76,0
4424,50516,1,0,30007.122211,8499.0,8025.0,12,0,654,42791,348,26493,0
4425,123,2,0,0.000000,0.0,0.0,0,0,1,76,0,0,0

In [38]:
import pandas as pd

# Check for NaN values in the current DataFrame
nan_check = df.isna().sum()

# Filter to only show columns with NaN values
nan_columns = nan_check[nan_check > 0]

if nan_columns.empty:
    print("No NaN values found in the DataFrame")
else:
    print("Columns with NaN values and their counts:")
    for col, count in nan_columns.items():
        print(f"- {col}: {count} NaN values")
    
    print(f"\nTotal NaN values in DataFrame: {nan_check.sum()}")

No NaN values found in the DataFrame

In [39]:
df['missed_bytes'] = df['missed_bytes'].fillna(0)

In [40]:
df.to_csv(r"42cleaned.csv",index=False)